.theme-blue {
  background-color: var(--bg-primary);
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-normal: #dcddde;
  --text-normal-hover: #a7a8a8;
  --text-link: #00b0f4;
  --text-muted: #a6a9ad;
  --badge-color: #f04747;
  --fa-primary: #ff7eee;
  --fa-secondary: #df49a6;
  --fa-third: #b33b85;
  --warning-color: #ea4646;
  --good-color: #43b581;
  --medium-color: #faa61a;
  --off-color: #6e7985;
  --color-blue: #1c9eff;
  --color-blue-hover: #007ad6;
  --color-red: #cc3300;
  --color-green: #339900;
  --color-yellow: #ffcc00;
}

.theme-main {
  background-color: var(--bg-primary);
  --bg-primary: #1e1e1e;
  --bg-secondary: #121212;
  --text-normal: #dcddde;
  --text-normal-hover: #ffffff;
  --text-link: #00b0f4;
  --text-muted: #a6a9ad;
  --badge-color: #f04747;
  --fa-primary: #bc6ff1;
  --fa-secondary: #892cdc;
  --fa-third: #52057b;
  --warning-color: #ee2c2c;
  --good-color: #43b581;
  --medium-color: #faa61a;
  --off-color: #6e7985;
  --color-blue: #1c9eff;
  --color-blue-hover: #007ad6;
  --color-red: #cc3300;
  --color-green: #339900;
  --color-yellow: #ffcc00;
}

.theme-white {
  background-color: var(--bg-primary);
  --bg-primary: #fafafa;
  --bg-secondary: #e0dfdf;
  --text-normal: #181818;
  --text-normal-hover: #848585;
  --text-link: #00b0f4;
  --text-muted: #a6a9ad;
  --badge-color: #f04747;
  --fa-primary: #34b9ee;
  --fa-secondary: #2ca1cf;
  --fa-third: #268cb4;
  --warning-color: #ea4646;
  --good-color: #43b581;
  --medium-color: #faa61a;
  --off-color: #6e7985;
  --color-blue: #1c9eff;
  --color-blue-hover: #007ad6;
  --color-red: #cc3300;
  --color-green: #339900;
  --color-yellow: #ffcc00;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--fa-primary), var(--fa-secondary));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
