@charset "utf-8";

@font-face {
    font-family: 'Open Sans';
    src: url('./Font/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.theme-blue {
  background-color: var(--bg-primary);
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-normal: #dcddde;
  --text-normal-hover: #a7a8a8;
  --text-link: #00b0f4;
  --text-muted: #a6a9ad;
  --badge-color: #f04747;
  --fa-primary: #ff7eee;
  --fa-secondary: #df49a6;
  --fa-third: #b33b85;
  --warning-color: #ea4646;
  --good-color: #43b581;
  --medium-color: #faa61a;
  --off-color: #6e7985;
  --color-blue: #1c9eff;
  --color-blue-hover: #007ad6;
  --color-red: #cc3300;
  --color-green: #339900;
  --color-yellow: #ffcc00;
}

.theme-main {
  background-color: var(--bg-primary);
  --bg-primary: #1e1e1e;
  --bg-secondary: #121212;
  --text-normal: #dcddde;
  --text-normal-hover: #ffffff;
  --text-link: #00b0f4;
  --text-muted: #a6a9ad;
  --badge-color: #f04747;
  --fa-primary: #bc6ff1;
  --fa-secondary: #892cdc;
  --fa-third: #52057b;
  --warning-color: #ee2c2c;
  --good-color: #43b581;
  --medium-color: #faa61a;
  --off-color: #6e7985;
  --color-blue: #1c9eff;
  --color-blue-hover: #007ad6;
  --color-red: #cc3300;
  --color-green: #339900;
  --color-yellow: #ffcc00;
}

.theme-white {
  background-color: var(--bg-primary);
  --bg-primary: #fafafa;
  --bg-secondary: #e0dfdf;
  --text-normal: #181818;
  --text-normal-hover: #848585;
  --text-link: #00b0f4;
  --text-muted: #a6a9ad;
  --badge-color: #f04747;
  --fa-primary: #34b9ee;
  --fa-secondary: #2ca1cf;
  --fa-third: #268cb4;
  --warning-color: #ea4646;
  --good-color: #43b581;
  --medium-color: #faa61a;
  --off-color: #6e7985;
  --color-blue: #1c9eff;
  --color-blue-hover: #007ad6;
  --color-red: #cc3300;
  --color-green: #339900;
  --color-yellow: #ffcc00;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --gap: 24px;
  --nav-width: 1024px;
  --nav-height: 78px;
  --normal-text-font-size: 14px;
  --transition-speed: 600ms;
  --transition: 0.25s;
  --border-radius: 8px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  z-index: 0;
  height: 100vh;
}

.global-section {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.global-div {
  height: 54px;
}

body {
  overflow: hidden;
  margin: 0;
}

.main {
  height: 100vh;
  width: 100%;
}

a,
.svg-link {
  color: var(--text-normal);
  text-decoration: none;
}
i {
  color: var(--text-normal);
}
.online {
  color: var(--good-color);
}
.dnd {
  color: var(--warning-color);
}
.sleep {
  color: var(--medium-color);
}
.offline {
  color: var(--off-color);
}
.pdp-33 {
  border-radius: 100%;
  margin-right: 5px;
  height: 33px;
  width: 33px;
  resize: none;
}
.pdp-48 {
  border-radius: 100%;
  margin-right: 5px;
  height: 48px;
  width: 48px;
  resize: none;
}
.pdp-64 {
  border-radius: 100%;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  resize: none;
}

.pdp-100 {
  border-radius: 100%;
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.scrollable {
  overflow: scroll;
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: bottom;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.fa-primary {
  color: var(--fa-primary);
}

.fa-secondary {
  color: var(--fa-secondary);
}
.fa-third {
  color: var(--fa-third);
}

.fa-primary,
.fa-secondary,
.fa-third {
  transition: var(--transition-speed);
}

#input-preview-image {
  display: none;
  cursor: pointer;
}

#preview-image:hover {
  cursor: pointer;
}
#preview-image {
  initial-value: "omg";
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
}
.not-web {
  display: none;
}

.html {
  background-image: url("../Assets/Images/login_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  overflow: hidden;
}

.login-page {
  position: relative;
  width: 100vw;
  max-width: 1480px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-page h2 {
  text-align: center;
}

.login-page .form {
  border-radius: 15px;
  position: relative;
  z-index: 1;
  background: #272727;
  width: 784px;
  margin: 0;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  color: whitesmoke;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
  outline: 0;
  background: #2e2e2e;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login_error {
  color: #e63232;
  text-align: center;
}
.login-page .form button {
  border-radius: 5px;
  transition: 0.25s;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1e1e1e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page .form button:hover,
.form button:active,
.form button:focus {
  transition: 0.25s;
  background: #0b0c10;
}
.login-page .form .message {
  transition: 0.25s;
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.login-page .form .message:hover {
  transition: 0.25s;
  text-decoration: none;
}

.login-page .info {
  margin: 50px auto;
  text-align: center;
}

/*Header Section*/
header{
  height: var(--nav-height);
}
header .header {
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--bg-primary);
  align-items: center;
}

header .gauche {
  display: flex;
  align-items: center;
}

.svg-link svg {
  width: 33px;
  height: 33px;
  margin: 0 1rem;
}

.svg-link {
  color: var(--text-normal);
  filter: grayscale(50%) opacity(0.7);
  transition: var(--transition-speed);
}

.svg-link:hover {
  filter: grayscale(0%) opacity(1);
}

input.research {
  height: 30px;
  width: 40%;
  padding: 10px 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
}

.input.research::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

header .pdp-33 {
  border-radius: 100%;
  margin-left: 1em;
  height: 33px;
  width: 33px;
  resize: none;
}

header .drop-down-menu {
  border-radius: 8px;
  margin-top: 5px;
  margin-left: -100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: var(--bg-secondary);
  text-align: left;
}

header .drop-down-menu a {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .drop-down-menu a:hover {
  background: var(--bg-primary);
}

header .drop-down-menu svg {
  width: 22px;
  height: 22px;
  margin: 10px;
}


/*********************************
|                                |
|       Settings Section         |
|                                |
*********************************/
section.settings {
  background-color: var(--bg-primary);
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  display: flex;
  flex-direction: row;
  color: var(--text-normal);
  height: calc(100vh - var(--nav-height));
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.settings h3 {
  text-transform: uppercase;
  text-align: left;
}

.settings .informations {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.settings .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 30vh;
  height: 100%;
  border-right: 2px solid var(--bg-secondary);
}

.menu .menu-bottom {
  width: 100%;
}

.menu-bottom .btn-index {
  cursor: pointer;
  transition: all var(--transition) ease-in-out;
  margin-bottom: 10px;
  width: 50%;
  padding: 20px;
  background: none;
  border: none;
  color: var(--text-normal);
  text-transform: uppercase;
}

.menu-bottom .btn-index:hover {
  transition: all var(--transition-speed) ease-out;
  background: var(--warning-color);
}

.settings .link {
  display: flex;
  flex-direction: column;
}

.settings .menu-top a {
  text-transform: capitalize;
  font-weight: 600;
  transition: var(--transition);
  margin: 10px;
}

.settings .menu-top a:hover {
  transition: var(--transition);
  color: var(--text-normal-hover);
  margin: 10px;
}

.my-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.informations .my-informations {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
}

.top-informations {
  display: flex;
}

.top-informations .name {
  font-size: 22px;
}

.info-form .description span input {
  width: 100%;
}

.info-form {
  margin-left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.bottom-informations {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 40px;
  justify-content: left;
}

.bottom-informations span {
  padding: 10px;
  width: 100%;
}

.settings span textarea {
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans";
  color: var(--text-normal);
  background: none;
  border: none;
  resize: vertical;
}

.settings span textarea::placeholder {
  color: var(--text-normal);
}

.first-colums {
  display: flex;
  flex-direction: column;
}

.second-colums {
  display: flex;
  flex-direction: column;
}

.third-colums {
  display: flex;
  flex-direction: column;
}

.third-colums span{
  width: 100%;
}

.third-colums span button {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--text-normal);
  border: none;
  padding: 25px;
  background: var(--bg-primary);
}

.theme-choose {
  display: flex;
  flex-direction: column;
}

.theme-choose .theme-box {
  border: 2px solid var(--bg-secondary);
  padding: 10px;
}

.theme-container p, .theme-container h3 {
  color: var(--text-normal);
}

.theme-choose .theme-container svg {
  width: 25px;
}

.account-blocked {
  max-height: 250px;
  border-radius: var(--border-radius);
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--bg-secondary);
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
}

.account-blocked .account {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.account-blocked .account p {
  padding: 10px;
}

.account-blocked .account i {
  cursor: pointer;
}

/*Messages*/
section.messages {
  background-color: var(--bg-primary);
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  display: flex;
  flex-direction: row;
  color: var(--text-normal);
  height: calc(100vh - var(--nav-height));
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.messages .all-chat {
  padding: 15px;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.messages nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.messages .chat-nav-top{
  padding-right: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages .chat-nav-top p{
  font-weight: bolder;
  text-transform: uppercase;
}

.messages .contact {
  background-color: var(--bg-secondary);
  padding: 5px;
  flex-direction: row;
  width: 100%;
  overflow: auto;
  height: 100%;
  border-right: 2px solid var(--bg-primary);
}

.messages .chat-user-box{
  transition: var(--transition);
  padding: 10px;
}

.messages .chat-user-box:hover {
  transition: var(--transition);
  background-color: var(--bg-primary);
}

.messages .chat-user img {
  float: left;
  border-radius: 50%;
}

.messages .date-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages .chat-user .name {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  max-width: 150px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.messages .chat-user .time {
  font-size: 14px;
  padding: 0 10px 5px 5px;
}

.messages .chat-user .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--grey);
}

.messages .chatbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.messages .chatbox .chatsection{
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  justify-content: space-between;
}

.messages .chatbox-nav{
  padding-right: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages .chatmessages{
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  height: 100%;
}

.messages .chatbox .chatzone-nav-droite{
  display: flex;
  align-items: center;
  width: 75%;
  padding-left: 10px;
}

.messages .chatbox .chatzone-nav-droite p {
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.messages .chatbox .sendchat-section {
  bottom: 0;
}

.messages .chatsection .chat-user {
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  overflow: scroll !important;
  width: 100%;
  padding: 10px;
}

.messages .chatsection .chat-user:hover {
  transition: var(--transition);
  background-color: var(--bg-primary);
}

.messages .chatsection .chat-user .name {
  max-width: 50%;
}

.messages .chatsection .chat-user .preview {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  white-space: unset;
  color: var(--grey);
}

.chat-user .informations{
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.chat-user .informations .date-username{
  display: flex;
  justify-content: space-between;
}

.chatsection .input {
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.chatsection .input button {
  background: none;
  border: none;
}

.chatsection .input svg {
  transition: var(--transition);
  margin-right: 5px;
  height: 25px;
  cursor: pointer;  
  filter: grayscale(0%) opacity(1);
}

.chatsection .input svg:hover {
  transition: var(--transition);
  filter: grayscale(50%) opacity(0.7);
}


.chatsection .input textarea {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  border-radius: 1.125rem;
  flex-grow: 2;
  font-weight: 400;
  letter-spacing: 0.025em;
  resize: none;
}

.chatsection .input textarea:placeholder {
  color: #999;
}

.all-chat.mobile {
  display: none;
}

.all-chat.web {
  display: flex;
  flex-direction: row;
}

.all-chat.web  nav {
  width: 300px;
}

/*Home section*/
section.home {
  background-color: var(--bg-primary);
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  display: flex;
  flex-direction: column;
  color: var(--text-normal);
  height: calc(100vh - var(--nav-height));
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.home .create-post {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid var(--bg-secondary);
  padding: 10px;
}

.home .false-post {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home .false-post span {
  width: 15%;
}

.home .false-post input{
  height: 50px;
  background-color: var(--bg-secondary);
  border: 2px solid var(--bg-primary);
  width: calc(100% - 15%);
}

.home .false-post input::placeholder {
  padding: 10px;
  font-size: 16px;
}

.home .real-post {
  width: 100%;
}

.real-post div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.real-post-header button, .real-post-bottom button {
  background: none;
  border: none;
}

.real-post div.real-post-bottom-div, .real-post div.real-post-bottom {
  margin-bottom: 0px;
}

.real-post * .svg-link svg {
  width: 22px;
  height: 22px;
}

.home .real-post textarea{
  width: 100%;
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  height: 170px;
  background-color: var(--bg-secondary);
  border: 2px solid var(--bg-primary);
  color: var(--text-normal);
}

.post-normal {
  margin-top: 10px;
  border: 2px solid var(--bg-secondary);
  padding: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.post-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius);
}

.audio-controls button{
  border: none;
  background: none;
}

.audio-player {
  width: 100%;
  padding: 10px;
}

.audio-player .track-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio-player .range__slider {
  width: 100%;
}

.audio-player input[type="range"] {
  width: 100%;
}

.post-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-bottom .svg-link svg{
  width: 22px;
  margin-left: 0px;
}

.post-bottom button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/*Profile section*/
section.profile {
  background-color: var(--bg-primary);
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  display: flex;
  flex-direction: column;
  color: var(--text-normal);
  height: calc(100vh - var(--nav-height));
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.profile-section {
  margin-left: 100px;
  margin-right: 100px;
}
.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}



@media screen and (max-width: 800px) {

  :root {
    font-size: 16px;
    font-family: "Open Sans";
    --gap: 24px;
    --nav-width: 1024px;
    --nav-height: calc(48px+5px);
    --normal-text-font-size: 14px;
    --transition-speed: 600ms;
    --transition: 0.25s;
    --border-radius: 8px;
  }

  .all-chat.mobile {
    display: block;
  }

  .all-chat.web {
    display: none;
  }

  header .header {
    padding: 5px;
  }
  .login-page {
    position: absolute;
    flex-direction: unset;
    width: 100%;
    height: 100vh;
    min-height: unset;
  }
  .login-page .form {
    border-radius: 0px;
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  .not-mobile{
    display: none;
  }
  .not-web{
    display: block;
  }
  header .pdp-33 {
    margin: 0;
  }
  .svg-link svg {
    margin: 5px;
  }

  section.settings .menu {
    display: none;
  }

  input.research {
    display: none;
  }

  header .drop-down-menu {
    border-radius: 8px;
    margin-top: 5px;
    margin-left: -125px;
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 999;
    background-color: var(--bg-secondary);
    text-align: left;
  }

  #preview-image {
    min-width: 77px;
    min-height: 77px;
    background-size: cover;
    background-position: center;
  }

  .pdp-100 {
    border-radius: 100%;
    margin-right: 5px;
    height: 77px;
    width: 77px;
  }

  .my-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: unset;
  }
  
  .informations .my-informations {
    padding: 10px;
  }
  
  .info-form {
    padding: 10px;
  }
  
  .bottom-informations {
    grid-gap: 5vw;
    gap: 5vw;
    margin-top: 20px;
  }
  
  .bottom-informations span {
    padding: 10px;
    width: 100%;
  }
  
  .settings span textarea {
    width: 100%;
    font-size: 16px;
    font-family: "Open Sans";
    color: var(--text-normal);
    background: none;
    border: none;
    resize: vertical;
  }
  
  .settings span textarea::placeholder {
    color: var(--text-normal);
  }
  
  .first-colums {
    display: flex;
    flex-direction: column;
  }
  
  .second-colums {
    display: flex;
    flex-direction: column;
  }
  
  .third-colums {
    display: flex;
    flex-direction: column;
  }
  
  .third-colums span{
    width: 100%;
  }
  
  .third-colums span button {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-normal);
    border: none;
    padding: 25px;
    background: var(--bg-primary);
  }

  .theme-choose {
    display: flex;
    flex-direction: column;
  }

  .theme-choose .theme-container p {
    color: var(--text-normal);
  }

  .menu-bottom .btn-index {
    width: 100%;
  }

  section.messages {
    padding: 10px;
    width: 100%;
  }

  .messages .contact {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  .messages nav {
    padding: 0px;
  }

  .messages .all-chat {
    padding: 0px;
  }

  .messages .chatbox .chatzone-nav-droite {
    display: inline-block;
    align-items: center;
  }
  .chat-user .informations {
    padding-bottom: 0px;
    width: 80%;
    display: flex;
    align-items: center;
  }
  .messages .chatsection .chat-user .name {
    margin-left: 5px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .messages .chatbox {
    padding: 0px;
  }
  .messages .chatbox .chatbox-nav {
    padding-bottom: 0px;
  }
  .messages .chat-nav-top {
    justify-content: space-between;
  }

  .chatzone-nav-droite p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .messages .chatbox .chatsection {
    padding-bottom: 0px;
  }
  .chatsection .input {
    padding-top: 5px;
  }

  .chatsection .input svg {
    margin-right: 0px;
  }

  .chatsection .input textarea {
    border-radius: 8px;
  }

  .home .false-post {
    flex-direction: column;
    align-content: center;
  }

  .home .false-post span{
    margin-left: 2px;
  }
  .home .false-post span, .home .false-post input{
    width: 100%;
  }
}
